<% if current_user %>
  <h1>Welcome, <%= current_user.username %>!</h1>
  <hr>
  <h3>Your Skills</h3>
    <ul>
  <% @skills.each do |skill| %>
      <li><%= skill.name %> Endorsements: (<%= skill.endorsements %>) <%= link_to "+1", "/increment/#{skill.id}", method: :put %></li>
  <% end %>
    </ul>

<h5>Add Skill</h5>
  <%= form_for [@user, @skill] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Add Skill" %>
  <% end %>

<% else %>
  <i>Please login...</i>
<% end %>